// ============================================
// APP: Component - Footer
// ============================================

#footer {
  position: absolute;
  z-index: 99999;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
