// ============================================
// APP: Component - Header
// ============================================

#header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  pointer-events: none;

  ul {
    padding: 0 15px;
    margin: 0 0 0 120px;
    list-style: none;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px) saturate(1.8);
    border-radius: 0 0 20px 0;

    li {
      line-height: 72px;
    }
  }
}
