// ============================================
// APP: Component - Header
// ============================================

.header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    nav {
        li {
            display: inline-block;
            padding: 0 15px;
        }
    }
}
