// ============================================
// APP: Component - Header
// ============================================

#header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  pointer-events: none;
  text-align: center;

  ul {
    padding: 0 12px 0 5px;
    margin: 0 0 0 80px;
    list-style: none;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px) saturate(1.8);
    border-radius: 0 0 10px 0;
    text-align: left;

    li {
      line-height: 46px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.125);
      &:last-child {
        border: 0;
      }
    }
  }

  #prime-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}
