// ============================================
// APP: Component - Header
// ============================================

#header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;

  nav {
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
}
