// ============================================
// APP: Component - Header
// ============================================

#header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  pointer-events: none;

  ul {
    padding: 0;
    margin: 0 0 0 130px;
    list-style: none;
    font-size: 14px;
  }
}
