// ============================================
// APP: Base - Main
// ============================================

main {
  justify-items: center;
  align-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}
